body{
    margin: 0;
    background: url(https://encdn.ldmnq.com/emulator/open-minecraft.jpg) no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header h1{
    background-color: rgba(231, 195, 149, 0.705);
    text-align: center;
    margin: 15px;
    border-radius: 5px;
    padding: 1px 1px;
    color: #ffffff;
}

nav ul, .logo-nav{
    background-color: rgba(0, 255, 255, 0.774);
    margin-top: 2px;
    color: rgb(248, 245, 233);
}

.nav {
    padding: 2rem 0;
    top: auto;
    font-size: 1.5rem;
}

.logo-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 15px;
    font-size: 1.4em;
    text-decoration: none;
}

.nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav ul li{
    display: inline-block;
}

.nav ul li a{
    padding: 0.5rem 1rem;
    transition: all 0.4s linear;
    border-radius: 5px;
    text-decoration: none;
    color: rgb(248, 245, 233);
}

.nav ul li a:hover{
    background-color: rgba(2, 102, 2, 0.692);
}


article{
    background-color: rgba(192, 241, 94, 0.603);
    margin: 2em 2em;
    height: 18em;
    width: 35em;
    display: inline-block;
}

.article-text h1{
    text-align: center;
}

section{
    background-color: rgb(245, 245, 79);
    margin: 2em 2em;
    height: 10em;
    border-radius: 7px;
}

section > p{
    text-align: center;
    margin: 10px;
    padding: 20px;
}

aside {
    background-color: rgba(192, 241, 94, 0.603);
    margin: 2em 2em;
    height: 18em;
    width: 35em;
    display: inline-block;
}

.aside-text h1{
    text-align: center;
}


blockquote {
    background-color: rgb(245, 245, 79);
    margin: 2em 2em;
    height: 10em;
    border-radius: 7px;
}

blockquote > p {
    text-align: center;
    margin: 10px;
    padding: 20px;
}

footer{
    background-color: rgba(250, 119, 96, 0.555);
    text-align: center;
    width: 100%;
    padding: 1px 1px;
    color: rgb(248, 245, 233);
}